.header{
    margin-top: 10px;
    text-align: center;
    font-family: Verdana;
    color: #2c4117;
}
.hevchenko{ 
	margin-top: 50px; 
	margin-right: 1500px;
	text-align: center;
}
.left_about{
	text-align: center;
	margin-bottom: 100px;
	margin-right: 1200px;
}
