.header{
    margin-top: 10px;
    text-align: center;
    font-family: Verdana;
    color: #2c4117;
}
.shevchenko{ 
	margin-top: 50px; 
	text-align: center;
}

.ukrainka{
	margin-top: 50px; 
	text-align: center;
	font-family: Verdana;
}

.wiki_ukrainka{
	text-align: center;
	margin-top: 20px;
}
